page-register {

  .login-content {
    background: #002e5f;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      //background: #399F8B;
      padding: 20px 20px 0px 20px;
      margin-top: 120px;
    }

    ion-row {
       align-items: center;
       text-align: center;
     }
    ion-input{
color:white;
font-size: 1em;

    }
     ion-item {
         //border-radius: 30px !important;
         //padding-left: 30px !important;
        //font-size: 1.3em;
        background:#002e5f;
        //height:30px;
         margin-bottom: 10px;
        // border: 1px solid #ffffff;
        // border-bottom: 0px !important;
        // box-shadow: none !important;
     }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }

     .label-ios[stacked]{
       color: white;
       font-size: 1em;
     }
    //  .item-inner {
    //    border-bottom-color: #ffffff !important;
    //    box-shadow: none !important;
    //  }

     .submit-btn {
       background: #51CFB1;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }

     .register-btn {
       color: #ffffff;
       font-size: 1em;
     }
  }

}
